
// TOP NAV 
$top_nav_bgcolor : #16243d;
$icon-color : #ffffff;
$blue_icon-color :#045FC9;
$text_color:#97a2b7;

// MAIN NAV
$main_nav_nav_bgcolor : #F2F5F9;
$button_bgcolor:#015FC9;
$button_text_color:#ffff;
$main_nav_icon_color : #696E77;
$phone_icon_color : #0ce0ff;
$phone_border_color : #e0e4e8;
$number : #16243d;
$number_text : #696e77;
$main_nav_icon_textcolor : #696e77;

// footer 
$footer-box4-icon-color : #0ce0ff;
$white-color :#ffffff;
$footer_bgcolor :#16243D;
$ptag_color : #97a2b7;
$box4-input-bgcolor : #111d32;
$box2-icon-bordercolor : #015fc9;