<div class="main_nav ">
<div class="image"> <img src="./Images/logo.png" alt="" height="27px" ></div>

    <div class="nav">
        <div class="text">
    <p>Demos</p>
    <p>Pages</p>
    <p>Insurance</p>
    <p>Shop</p>
    <p>News</p>
    <p>Contact</p>
</div>

<div class="icon">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-cart-shopping"></i>
    <button>Get a Quote</button>

</div>
    </div>


<div class="call_service">
    <div class="phone_icon">  <i class="fa-solid fa-phone"></i></div>
    
    <div class="contact">
   <p class="number1"> +92 (023) 875 </p> 
   <p class="number_text"> Call to Our Experts</p>
</div>
</div>
</div>
