<div class="top_nav">
    <div class="text1">
        <div class="location">
        <i class="fa-solid fa-location-dot"></i>
    <p>30 Commercial Road Fratton, Australia</p>
</div>
<div class="mail">
    <i class="fa-solid fa-envelope"></i>
    <p>{{email}}</p>
</div>
    
</div>
<div class="text2">
    <p>Make a claim</p>
    <p>FAQs</p>
    <p>About</p>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-pinterest-p"></i>
    <i class="fa-brands fa-instagram"></i>
</div>
</div>


